/Test/Bai1.3/nbproject/private/
/Test/Bai2.3/nbproject/private/
/Test/Bai5.3/nbproject/private/
/Test/LTM1/nbproject/private/
/Test/Dongho/nbproject/private/
/Test/Dongho/build/
/Test/TestDongho/nbproject/private/
/Test/TestDongho/build/
/Test/Bai4.3/nbproject/private/
/Test/Bai4.3/build/
/Test/testth/nbproject/private/
/Test/testth/build/
/Test/JavaApplication43/nbproject/private/
/Test/Bai6.3/nbproject/private/
/Test/Bai6.3/build/
/Test/Bai7.3/nbproject/private/
/Test/Bai7.3/build/
/Test/testclass/nbproject/private/
/Test/testclass/build/
/Test/Bai1.3.2/nbproject/private/
/Test/Bai1.3.2/build/
/Test/TestSV/nbproject/private/
/Test/TestSV/build/
/Test/LTM1/build/
/Test/Testltm/nbproject/private/
/Test/Testltm/build/
/Test/Bai5.3.2/nbproject/private/
/Test/Bai5.3.2/build/
/Buổi 3.2/Bai5.3.2/build/
/Buổi 3.2/Bai5.3.2/nbproject/private/
/Test/Bai6.3.2/nbproject/private/
/Test/Bai6.3.2/build/
/Test/Bai7.3.2/nbproject/private/
/Test/Bai7.3.2/build/
/Test/Bai8.3.2/nbproject/private/
/Test/Bai8.3.2/build/
/Test/Bai6.4/nbproject/private/
/Test/Bai6.4/build/
/Test/Bai7.4/nbproject/private/
/Test/Bai7.4/build/
/Test/Bai1.4/nbproject/private/
/Test/Bai1.4/build/
/Test/Bai5.1/nbproject/private/
/Test/Bai5.1/build/
/Test/Bai8.4/nbproject/private/
/Test/Bai8.4/build/
/Test/Bai3.4/nbproject/private/
/Test/Bai11.4/nbproject/private/
/Test/Bi2.4/nbproject/private/
/Test/Bi2.4/build/
/Test/Bai4.4/nbproject/private/
/Test/Bai9.4/nbproject/private/
/Test/Bai5.4/nbproject/private/
/Buổi 4/Bai4.4/build/
/Test/Polylomial/nbproject/private/
/Test/MyDate/nbproject/private/
/Test/MyDate/build/
/Test/Tamgiac/nbproject/private/
/Test/Tamgiac/build/
/Test/Kethua/nbproject/private/
/Test/Kethua/build/
/Test/Lamp/nbproject/private/
/Test/Lamp/build/
/Test/Bai13.4/nbproject/private/
/Test/Bai13.4/build/
/Test/Polygon/nbproject/private/
/Test/Bai12.4/nbproject/private/
/Test/Bai12.4/build/
/Test/MyPoint/nbproject/private/
/Test/MyPoint/build/
/Test/Student/nbproject/private/
/Test/Student/build/
/Test/Product/nbproject/private/
/Test/Product/build/
/Test/LTm/nbproject/private/
/Test/LTm/build/
/Test/Library/nbproject/private/
/Test/Library/build/