/Bai12/nbproject/private/
/Bai12/build/
/JavaSQL/nbproject/private/
/JavaSQL/build/
/ThiTN/nbproject/private/
/ThiTN/build/
/THITNChuan/nbproject/private/
/THITNChuan/build/
/test/nbproject/private/
/Exercise1/nbproject/private/
/java.exercise/nbproject/private/
/exercise1/nbproject/private/
/ITSOL/exercise1/nbproject/private/
/ITSOL/exercise1/build/
/ITSOL/B1/nbproject/private/
/ITSOL/ITTEST/nbproject/private/
/ITSOL/ITTEST/build/
/ITSOL/Exercise1/nbproject/private/
/ITSOL/Exercise1/build/
/ITSOL/Teacher/nbproject/private/
/ITSOL/Teacher/build/
/ITSOL/Ahihi/nbproject/private/
/ITSOL/Ahihi/build/
/ITSOL/DK/nbproject/private/
/ITSOL/DK/build/